html, body { 
    font-size: 18px;
}
.app-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.message-screen {
    text-align: center;
    font-size: 2rem;
}

/* ============================================= USER LIST */
.users-list-wrap {
    display: flex;
    justify-content: center;

}
.user-item {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 1em;
    margin: 1em 0;
    border-radius: .5em;
    background-color: #003b5b;
    color: #fff;
    box-shadow: 2px 2px 5px #000;
}
.user-name {
    margin-bottom: 1em;
}

.strong-font {
    font-weight: bold;
    font-size: 1.3rem;
}

.user-item-tools {
    align-self: center;
}
.user-update-btn {
    font-size: 1.5rem;
    background-color: #fff;
    border-radius:50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.user-update-btn:last-child {
    margin-right: 0;
}

.user-name input {
    width: 150px;
    margin-right: 10px;
}
.user-email input {
    width: 300px;
}

/* ============================================= USER FORM */

.user-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    row-gap: 2rem;
    margin-top: 200px;
}

.user-input {
    font-size: 1.5rem;
    padding: .5em;
    border-radius: .5em;
    background-color: #c6ebff;
}

.user-add-btn {
    font-size: 1.5rem;
    padding: .5em;
    border-radius: .5em;
    background-color: #003b5b;
    cursor: pointer;
    color: #fff;
}