section {
	margin: 50px 0;
	position: relative;
}
section:first-child {
	margin-top: 0;
}
.task-title {
	background-color: #bbb;
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	margin-bottom: 20px;
}
.task-content {
	padding: 20px 100px;
}

/* ============================ TASK 1 */

.task1-wrap {
    display: flex;
    justify-content: center;
    justify-items: center;
}
#btn-task1 {
	font-size: 24px;
	padding: 15px 30px;
	background-color: #68bcf5;
}
#btn-task1::before {
	content: attr(text);
}
#btn-task1:hover::before {
	content: attr(hover-text);
	transition-delay: 0.5s;
}
#btn-task1:hover {
	background-color: rgb(59, 225, 18);
	transition-delay: 0.5s;
}

/* ============================ TASK 2 */

.square {
	width: 200px;
	height: 200px;
	background-color: #ebb617;
	margin: 80px auto;
	transition: transform 0.5s;
}
.square:hover {
	transform: scale(1.5) rotate(45deg);
	transition: transform 0.5s;
}

/* ============================ TASK 3 */

.animate-box {
	margin: 0 auto;
	width: 200px;
	height: 100px;
	background-color: cornflowerblue;
	opacity: 0;
	position: relative;
	animation-name: slideIn;
	animation-duration: 1.5s;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes slideIn {
	0% {
		transform: translateX(-400%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* ============================ TASK 4 */

#container {
	width: 200px;
	height: 200px;
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	border: 4px solid #000;
}
#circle {
	width: 100px;
	height: 100px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	animation: orbit 6s linear infinite, colorChange 6s linear infinite;
}

@keyframes orbit {
	0% {
		transform: translate(-50%, -50%) rotate(0deg) translateX(80px);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg) translateX(80px);
	}
}

@keyframes colorChange {
	0% {
		background-color: red;
	}
	33% {
		background-color: green;
	}
	66% {
		background-color: blue;
	}
	100% {
		background-color: red;
	}
}
