h2 {
	text-align: center;
	margin: 50px 0;
	font-size: 36px;
	background-color: #ddd;
	padding: 10px;
}
h2:first-child {
	margin-top: 0;
}

.forma {
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
}
.inputs-wrap {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

#btn-add {
    padding: 5px;
	align-self: flex-end;
}
textarea {
	width: 400px;
	resize: vertical;
}

.tasks-list {
	width: 600px;
}
.tasks-list li {
	background-color: #ccc;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.task-name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}
.task-text {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 15px;
}
.btn-remove {
	padding: 5px;
	max-height: 50px;
	align-self: center;
}

/* ============================= users */

.users-list-title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 40px;
	font-weight: bold;
}
.users-list {
    margin: 0 auto;
    max-width: 800px;
}

.users-list-item {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-bottom: 20px;
    background-color: #ccc;
	padding: 10px;
	border-radius: 10px;
    align-items: center;
}
.users-status {
    margin: 0 auto;
}
.btn-toggle {
    padding: 5px;
}

.users-list-item.active {
    background-color: lawngreen;
}